@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');

html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 20px 40px;
}


.body-center {
    width: 100%;
    height: 100vh;
}

nav {
    padding: 20px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;

        li {
            display: inline-block;
        }

        li + li {
            margin-left: 20px;
        }
    }
}

// Parse
.diff {
    box-sizing: border-box;

    &__container {
        display: flex;
        box-sizing: border-box;
        margin-bottom: 20px;

        textarea {
            flex: 1;
            border: 1px solid black;
            padding: 20px;
            box-sizing: border-box;
        }
    }

    &__result {
        flex: 1;
        border: 1px solid black;
        padding: 20px;
        box-sizing: border-box;
    }
}

* {
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
}

// DecodeBase64

.DecodeBase64 {
    &__textarea {
        width: 500px;
        height: 200px;
        border: 1px solid black;
    }
}