@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');

html, body {
    //font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.centered-content {
    text-align: center;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 20px 40px;

    @media (max-width: 600px) {
        padding: 10px;
    }
}

.langSwitcher {
    position: absolute;
    top: 20px;
    right: 20px;
}


.body-center {
    width: 100%;
    height: 100vh;
}

nav {
    padding: 20px;

    @media (max-width: 600px) {
        padding: 0px;
        text-align: center;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;

        @media (max-width: 600px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 10px;
        }

        li {
            display: inline-block;
        }

        li + li {
            margin-left: 20px;

            @media (max-width: 600px) {
                margin-left: 0px;
            }
        }
    }
}

// Parse
.diff {
    box-sizing: border-box;

    &__container {
        box-sizing: border-box;
        margin-bottom: 20px;

        textarea {
            flex: 1;
            border: 1px solid black;
            padding: 20px;
            box-sizing: border-box;
        }
    }

    &__textarea {
        width: 100%;
        resize: none;
        height: 300px;
    }

    &__result {
        flex: 1;
        border: 1px solid black;
        padding: 20px;
        box-sizing: border-box;
        height: 300px;
        overflow: auto;
    }
}

* {
    box-sizing: border-box;
}

// DecodeBase64

.DecodeBase64 {
    &__textarea {
        width: 100%;
        height: 300px;
        border: 1px solid black;
        resize: none;
    }
}

// logo
.logo {
    font-size: 20px;

    @media (max-width: 600px) {
        font-size: 40px;
    }

    & + ul {
        margin-left: 30px;

        @media (max-width: 600px) {
            margin-left: 0px;
        }
    }
}

.main-img {
    max-width: 100%;
    object-fit: contain;
}

textarea {
    width: 800px;
    min-height: 400px;
}

.generateSFAdataLink {
    overflow: hidden;
}
